/* App.css */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline;
  background-color: #333;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
}

h2 {
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

form {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  display: inline-block;
  background: #272727;
  color: #dedede;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background: #555;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

/* TransactionLog specific styles */
.balance {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Expense Plot Styles */

.expense-plot-container {
  width: 100%;
  max-width: 1024px;
  padding: 16px;
  margin: auto;
}

.expense-plot-title {
  font-size: 1.25rem; /* Corresponds to text-xl */
  font-weight: 600;   /* Corresponds to font-semibold */
  margin-bottom: 16px;
}

.expense-plot-select {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.expense-plot-tooltip {
  background-color: white;
  padding: 8px;
  border: 1px solid #e5e7eb; /* Matches border-gray-200 */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tooltip-text-sm {
  font-size: 0.875rem;
}

.tooltip-text-semibold {
  font-size: 0.875rem;
  font-weight: 600;
}


/* CategoryManager specific styles */
.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-item {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
}

/* OweBook specific styles */
.debt-list {
  max-height: 300px;
  overflow-y: auto;
}

/* ExpenseCalendar specific styles */
.react-calendar {
  width: 100%;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--hasContent {
  background-color: #e6f3ff;
  color: #006edc;
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }
  
  nav ul {
    flex-direction: column;
  }
  
  nav ul li {
    margin-bottom: 10px;
  }
  
  .category-item {
    flex-basis: 100%;
  }
}
/* Expense Plot */
.expense-plot select {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  font-size: 16px;
}

th {
  background-color: #4e4e4e;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #cfcfcf; /* Light gray for even rows */
}

tr:hover {
  background-color: #e1e1e1; /* Slightly darker gray for hover effect */
}

tr:last-child td {
  border-bottom: 2px solid #000204; /* Bold bottom border for last row */
}